#milk {
  display: none;
}

#cookie {
  display: none;
}

#wine {
  display: none;
}

#cheese {
  display: none;
}

#prune-juice {
  display: none;
}

#fiber {
  display: none;
}

img {
  max-height: 200px;
  width: auto;
}
